/*@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');*/
:root {
  --primary-color: rgb(11, 13, 23);
  --primary-color-variant: rgb(288, 214, 249);
  --color-white: rgb(255, 255, 255);
}

/* ...............................Body............................... */

/* body{
    background: url(./assets/home/background-home-desktop.jpg);
    background-size: cover;
} */
* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  transition: all 500ms ease-in-out;
  /* font-family: 'Bellefair', serif; */
}
nav {
  margin-top: 2rem;
  /* margin-left: 2rem; */
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
  padding: 1rem;
  /* margin-right: 2rem; */
}
.neo_mgomeni {
  display: none;
}
.right_part ul li a:hover {
  color: crimson;
}
i.fa-bars {
  display: none;
}
i.fa-times {
  display: none;
  z-index: 20;
}
.right_part ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
  margin-right: 2rem;
}
.right_part ul li a {
  position: relative;
  /* color: rgba(255, 255, 255, 0.322); */
  color: black;
}

a.active {
  border-bottom: 2px solid #fff;
}
section {
  margin-top: 2rem;
  margin-left: 2rem;
}
a {
  cursor: pointer;
}
a button {
  cursor: pointer;
}
.headings {
  margin-top: 1rem;
  background-color: #fff800;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-right: 3rem;
}

.social_media {
  display: flex;
  /* margin-top: 2rem; */
  align-items: center;
  gap: 8rem;
  background-color: #fff800;
  padding-top: 1rem;
  margin-right: 3rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.group_mosque {
  display: flex;
  margin-top: 4rem;
  align-items: center;
  gap: 6rem;
  width: 93%;
  background-color: pink;
  margin-right: 33rem;
  padding: 1rem;
}
.weekly_other {
  display: flex;
  margin-top: 4rem;
  align-items: center;
  gap: 2.7rem;
  background-color: rgba(0, 128, 128, 0.253);
  margin-right: 33rem;
  padding: 1rem;
  width: 93%;
}
.reach_out {
  margin-top: 3rem;
}
section h1 {
  text-transform: uppercase;
  background-image: linear-gradient(
    +225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent;  */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 33px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.reach_out {
  margin-top: 5rem;
  margin-left: 9rem;
}
.explore {
  margin-top: 3rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore button {
  width: 11rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 2rem;
  text-transform: uppercase;
}
.explore button:hover {
  outline: 4rem solid rgba(255, 255, 255, 0.3);
}

.kalimah {
  margin-top: 5rem;
  margin-left: 10rem;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-right: 2rem;
}
.social-links .fa-youtube {
  color: red;
}
.social-links a i {
  font-size: 30px;
}
.footer-copyright {
  margin-top: 2rem;
  text-align: center;
}
.bottom {
  background-color: aquamarine;
  margin-top: 6rem;
  padding: 0.2rem;
}
.donate_button {
  background-color: #000;
  color: gold;
  width: fit-content;
  padding: 5px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
/*..................media  for tablets...........*/
@media screen and (max-width: 1024px) {
  body {
    background: url(./assets/home/background-home-tablet.jpg);
    background-size: cover;
  }
  nav span {
    width: 0;
    top: 3.5rem;
    background: gray;
  }
  .homecontainer__wrapper {
    height: fit-content;
    text-align: center;
    flex-direction: column;
    gap: 4rem;
  }
  .reach_out {
    margin-left: 2px;
  }
}
/*................media queries  for mobiles...........*/
@media screen and (max-width: 600px) {
  body {
    background: url(./assets/home/background-home-mobile.jpg);
    background-size: cover;
  }
  .all_plans {
    width: 90%;
  }
  .left_part h1 {
    font-size: 1rem;
  }
  .left_part p {
    font-size: 10px;
  }

  .neo_mgomeni {
    display: block;
  }
  .group_mosque {
    justify-content: center;
    gap: 2rem;
    margin-right: 0rem;
  }
  .group_mosque h2 {
    font-size: 1rem;
  }
  .group_mosque h3 {
    font-size: 13px;
  }
  .weekly_other {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: -0.5rem;
  }
  .weekly_other h2 {
    font-size: 1rem;
  }
  .weekly_other h3 {
    font-size: 13px;
  }
  .right_part {
    position: absolute;
    display: none;
    height: fit;
    margin-top: -1rem;
    z-index: 10;
    left: 0;
    padding: 2rem;
    background-color: skyblue;
  }
  .right_part ul {
    height: 30%;
    margin-top: 3rem;
    flex-direction: column;
  }
  .headings {
    margin-right: 0;
  }
  .reach_out {
    font-size: 13px;
  }
  .kalimah {
    margin-left: 2rem;
  }
  .social_media {
    gap: 1rem;
    font-size: 10px;
    margin-right: 0;
  }

  i.fa-bars {
    display: block;
    margin-right: 2rem;
    font-size: 2rem;
    /* color: var(--color-white); */
    color: black;
    cursor: pointer;
  }
  i.fa-times {
    z-index: 2;
    margin-right: 2rem;
    font-size: 2rem;
    /* color: var(--color-white); */
    color: black;
    z-index: 12;
    cursor: pointer;
  }
}
